@model IEnumerable<pizzashop.Models.Models.Category>

<ul class="categorys flex-column mb-auto w-100" style="overflow-y: scroll; max-height: 400px;">
    @foreach (var category in Model)
    {
        <li class="active">
            <a href="#" class="nav-link d-flex me-auto">
                <i class="bi bi-grid-1x2-fill" style="margin-right: 10px;"></i>
                @category.Category1
            </a>
            <div class="categoryAction">
                <div class="d-flex">
                    <button class="menubtn" data-bs-toggle="modal" data-bs-target="#editCategoryModal"
                        data-id="@category.Id" data-category-name="@category.Category1"
                        data-description="@category.Description">
                        <i class="bi bi-pen"></i>
                    </button>
                    <button class="menubtn" data-bs-toggle="modal" data-bs-target="#delete" data-id="@category.Id">
                        <i class="bi bi-trash"></i>
                    </button>





                </div>
            </div>
        </li>


    }
</ul>
