@model pizzashop.Models.ViewModels.UserListViewModel

<div style="overflow-x: auto; width: 100%;">
    <table class="table">
        <thead>
            <tr>
                <th>Name &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                    </svg></th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                    </svg></th>
                <th>Status</th>
                <th>&nbsp;&nbsp;&nbsp; Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>&nbsp; @user.FirstName
                    </td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>
                        @if (user.RoleId == 1)
                        {
                            <div>Admin</div>
                        }
                        @if (user.RoleId == 2)
                        {
                            <div>Account Manager</div>
                        }
                        @if (user.RoleId == 3)
                        {
                            <div>Chef</div>
                        }
                    </td>
                    <td>
                        @if (user.Status == true)
                        {
                            <div class="userlist-table-status">
                                Active
                            </div>
                        }
                        else
                        {
                            <div class="userlist-table-status" style="background-color: #ff6262;">
                                InActive
                            </div>
                        }
                    </td>
                    <td>
                        <div style="display: flex">
                            <form style="margin-top: 7.5px;">
                                <a href="@Url.Action("edituser", "Account", new { id = user.UserId })"
                                    class="nav-item nav-link" style="margin-left: 15px;margin-right: 10px;"><i
                                        class="bi bi-pen"></i></a>
                            </form>
                            <button class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@user.UserId">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

       <div class="customPagination d-flex flex-column align-items-center mt-1">
        <div class="d-flex align-items-center w-100 justify-content-end mb-2">
            <div class="d-flex align-items-center me-auto me-sm-3">
                <div class="me-sm-2" style="min-width: 7rem;">Items per page:</div>
                <select id="pageSizeSelect" class="form-select">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </div>
            <div class="d-none d-sm-block me-sm-2">
                Showing @((Model.CurrentPage - 1) * Model.PageSize + 1)-@(Math.Min(Model.CurrentPage * Model.PageSize, Model.TotalUsers)) of @Model.TotalUsers
            </div>
            <div>
                <button id="prevPageBtn" class="me-2" @(Model.CurrentPage == 1 ? "disabled" : "")>
                    <i class="bi bi-chevron-left"></i>
                </button>
                <button id="nextPageBtn" @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")>
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="d-block d-sm-none">
            Showing @((Model.CurrentPage - 1) * Model.PageSize + 1)-@(Math.Min(Model.CurrentPage * Model.PageSize, Model.TotalUsers)) of @Model.TotalUsers
        </div>
    </div>
</div>



<!-- Modal for Delete Confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true" style="margin-top: 13%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"
                style="display: flex;flex-direction: column; align-items: center;justify-content: center;">
                <div style="color: #ffc409;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                        class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                </div>
                <div>
                    <p>Are you sure you want to delete this User?</p>
                </div>
            </div>
            <div class="modal-footer">
                <!-- Delete Form -->
                <form id="deleteForm" method="post" asp-action="DeleteUser">
                    <input type="hidden" id="userId" name="id" />
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>