@model pizzashop.Models.ViewModels.UserProfileViewModel

<div id="rolesPageContent" class="container-fluid px-3 py-4 p-md-5" >
                    
    <div class="fs-2 fw-semibold mb-3" style="color: #006CAC;">My Profile</div>

    <div class="secondaryContainer shadow p-0">
        <img class="object-fit-cover" src="~/images/profile_div_bg.jpg" width="100%" height="50px">
        <div class="d-flex w-100 px-2 px-md-4">
            <div class="position-relative">
                <img style="margin-top: -1.8rem; border-radius: 50%;" src="@Model.Image" id="imagePreview" height="125px" width="125px" >
                <div class="" style="position: absolute;/* height: 306px; */top: 51px;right: -2px;">
                    <input class=" d-none form-control" type="file" id="imageUpload" required>
                    <label class="profileImgUpload" for="imageUpload">
                        <i class="bi bi-camera"></i>
                    </label>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row text-end text-md-start w-100 ms-md-3 py-1 py-md-2">
                <div class="me-md-auto">
                    <div class="fs-4 fw-semibold">
                        @Model.FirstName @Model.LastName
                    </div>
                    <div class="">
                        @Model.FirstName
                    </div>
                </div>
                <div class="">@Model.Email</div>
            </div>
        </div>
        <form asp-action="UserProfile" method="post" class="p-2 p-sm-3 p-md-4">
            <div class="row row-cols-1 row-cols-md-2 g-3">
                <div class="col">
                    <div class="form-floating">
                        <input type="text" asp-for="FirstName" value="@Model.FirstName" class="form-control" id="fname"  placeholder="First Name">
                        <label for="fname">First Name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" asp-for="LastName" value="@Model.LastName" class="form-control" id="lname" placeholder="Last Name">
                        <label for="lname">Last Name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" asp-for="UserName" value="@Model.UserName" class="form-control" id="uname" placeholder="User Name">
                        <label for="uname">User Name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" asp-for="Phone" value="@Model.Phone" class="form-control" id="phone" placeholder="Phone">
                        <label for="phone">Phone</label>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gy-3 gx-4 my-0">
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="CountryId" name="CountryId">
                            
                        <option selected>Select Country</option>
                        <option value="1">India</option>
                        <option value="2">USA</option>
                        <option value="3">Canada</option>
                        </select>
                        <label for="country">Country</label>
                    </div>
                </div>
                <div class="col">
                    
                    <div class="form-floating">
                        <select class="form-select" id="state">
                        <option selected>Select State</option>
                        <option value="1">Gujarat</option>
                        <option value="2">Maharashtra</option>
                        <option value="3">Delhi</option>
                        </select>
                        <label for="state">State</label>
                    </div>
                </div>
                <div class="col">
                    
                    <div class="form-floating">
                        <select class="form-select" id="city">
                        <option selected>Select City</option>
                        <option value="1">Rajkot</option>
                        <option value="2">Ahmedabad</option>
                        <option value="3">Baroda</option>
                        </select>
                        <label for="city">City</label>
                    </div>
                </div>
                <div class="col d-block d-lg-none">
                    <div class="form-floating">
                        <input type="text" asp-for="Zipcode" value="@Model.Zipcode" class="form-control" id="zipcode" placeholder="Zipcode">
                        <label for="zipcode">Zipcode</label>
                    </div>
                </div>
            </div>
            <div class="row gy-3 gx-4 mt-0">
                <div class="col-12 col-lg-8">
                    <div class="form-floating">
                        <input type="text" asp-for="Address" value="@Model.Address" class="form-control" id="address" placeholder="Address">
                        <label for="address">Address</label>
                    </div>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="form-floating">
                        <input type="text" asp-for="Zipcode" value="@Model.Zipcode" class="form-control" id="zipcode" placeholder="Zipcode">
                        <label for="zipcode">Zipcode</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center mt-4">
                <button type="submit" class="customBtnPrimary me-2">Update</button>
                <button type="reset" class="customBtnSecondary">cancel</button>
            </div>
        </form>
    </div>
</div>
