@model pizzashop.Models.ViewModels.UserListViewModel



<div style="width: 100%;background-color: #fafafa;margin-top: 40px;">
                <div class="userlist-searchbar"
                    style="display: flex; width: 100%;height: 7%;justify-content: space-between;padding-top: 10px;align-items: center;">
                    <h1 style="margin-left: 3%;color: #006cac;">Users</h1>
                    <div class="search-add" style="padding-right: 3%;display: flex;">
                        <form style="position: relative;margin-right: 10px;">
                            <input type="search"  placeholder="  Search" aria-label="Search" class="form-control" style="width: 200px;height: 52px;margin-right: 2px; border: 2px solid #eee;
                                border-radius: 4px;">
                            <i class="bi bi-search" style="position: absolute;right: 10px;top: 15px;"></i>
                        </form>
                       
                        
                        
                        <button class="adduser-btn" onclick="window.location.href='@Url.Action("addnewuser","Account")'">+Add
                            User</button>

                    </div>
                </div>
                <div class="content"
                    style="display: flex;align-items: center;justify-content: center;padding-top: 40px;">
                    <div class="shadow" style="background-color: white;width: 95%;">
                        <div class="table-responsive">
              
                    <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                                            </svg></th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Role &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                                            </svg></th>
                                        <th>Status</th>
                                        <th>&nbsp;&nbsp;&nbsp; Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                     @foreach (var user in Model.Users)
        {
             <tr>
                                        
      
                                        <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                                <path fill-rule="evenodd"
                                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                            </svg>&nbsp; @user.FirstName
                                        </td>
                                       
                                        <td>@user.Email</td>
                                        <td>@user.Phone</td>
                                       
                                        <td>
                                        @if(user.RoleId==1){
                                            <div>Admin</div>
                                        }
                                         @if(user.RoleId==2){
                                            <div>Account Manager</div>
                                        }
                                         @if(user.RoleId==3){
                                            <div>Chef</div>
                                        }
                                        @* @user.RoleId *@
                                        
                                        </td>
                                        <td>
                                           
                                                @if(@user.Status==true){
                                                     <div class="userlist-table-status">
                                                        Active
                                                        </div>
                                                }
                                                else{
                                                     <div class="userlist-table-status">
                                                        NotActive
                                                        </div>
                                                }
                                            
                                        </td>
                                        <td>
                                            <div style="display: flex">
                                           <form style="margin-top: 7.5px;">
                                               
                                                    <a href="@Url.Action("edituser", "Account", new { id = user.UserId })" class="nav-item nav-link" style="margin-left: 15px;margin-right: 10px;"><i class="bi bi-pen"></i></a>
                                               
                                            </form>
                                              
                                                    <button class="btn" 
                                                       data-bs-toggle="modal" 
                                                      data-bs-target="#deleteModal" 
                                                       data-id="@user.UserId"
                                                        >
                                                     <i class="bi bi-trash"></i>
                                                     </button>
                    <!-- Modal for Delete Confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true"  style="margin-top: 13%;" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
           <div class="modal-body"
                    style="display: flex;flex-direction: column; align-items: center;justify-content: center;">

                    <div style="color: #ffc409;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                    </div>
                    <div>
                        <p>are you sure you want to delete this User?</p>
                    </div>
            <div class="modal-footer">
                <!-- Delete Form -->
                <form id="deleteForm" method="post" asp-action="DeleteUser">
                    <input type="hidden" id="userId" name="id" />
                      <button type="submit" class="btn btn-primary">Yes</button>
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                   
                </form>
            </div>
        </div>
    </div>
</div>
                                             
                                                </div>
                                        </td>
                                    </tr>
        }

                                  

                                </tbody>
                                <div>

                            </table>
                          
                           <div class="pagination" style="margin-left: 90%; padding-bottom: 20px;">
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        <a href="@Url.Action("UserList", new { page = i })" class="btn @(i == Model.CurrentPage ? "active" : "")">
            @i
        </a>
    }
</div>
                           
                        </div>
                    </div>
                </div>
            </div>


            

            @*script*@
            <script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget; // The button that triggered the modal
        var userId = button.getAttribute('data-id');
        var userName = button.getAttribute('data-name');
        console.log(userId);
        // Set the modal content dynamically
        var modalTitle = deleteModal.querySelector('.modal-title');
       
        var userIdInput = deleteModal.querySelector('#userId');

        userIdInput.value = userId; // Set the user ID in the hidden input field
    });







</script>











    