@model pizzashop.Models.ViewModels.PaginatedItemsViewModel
@{
    var ItemExist = TempData["ItemExist"] as string;
    var ItemEdit = TempData["ItemEdit"] as string;
    var deleteItem = TempData["deleteItem"] as string;
}
<div class="table-responsive">
    <table class="tableList table align-middle table">
        <thead>
            <tr>
                <th scope="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="selectAllCheckbox">
                    </div>
                </th>
                <th scope="col">Name</th>
                <th scope="col">ItemType</th>
                <th scope="col">Rate</th>
                <th scope="col">Quantity</th>
                <th scope="col">Available</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">

            @{
                foreach (var menuitems in Model.Items)
                {
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input checkboxes" type="checkbox" value="" id="flexCheckDefault"
                                    data-id="@menuitems.Id">
                            </div>
                        </td>
                        <td>
                            <div class="listImgField">
                                @if (menuitems.MyImage != null)
                                {
                                    <img class="listImg" src="~/images/profiles/@menuitems.MyImage" style="border-radius: 50%;">
                                }
                                @if (menuitems.MyImage == null)
                                {
                                    <img class="listImg" src="~/images/dining-menu.png">
                                }
                                @menuitems.Name
                            </div>
                        </td>
                        <td>
                            @if (menuitems.ItemType == 1)
                            {
                                <img src="~/images/icons/veg-icon.svg" height="20px">
                            }
                            @if (menuitems.ItemType == 2)
                            {
                                <img src="~/images/icons/non-veg-icon.svg" height="20px">
                            }
                            @if (menuitems.ItemType == 3)
                            {
                                <img src="~/images/icons/vegan-icon.svg" height=" 20px">
                            }
                        </td>
                        <td>@menuitems.Rate</td>
                        <td>@menuitems.Quantity</td>
                        <td>
                            <div class="form-check form-switch toggleSwitch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                    @(menuitems.Available ? "checked" : "")>
                            </div>
                        </td>
                        <td>
                            <div>
                                <button class="menubtn loadEditModalBtn" data-id="@menuitems.Id"
                                    onclick="edititem(@menuitems.Id)"><i class="bi bi-pen"></i></button>
                                <button class="menubtn" onclick="deletemodel(@menuitems.Id)"><i
                                        class="bi bi-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!-- Pagination -->
<div class="customPagination d-flex flex-column align-items-center mt-1">
    <div class="d-flex align-items-center w-100 justify-content-end mb-2">
        <div class="d-flex align-items-center me-auto me-sm-3">
            <div class="me-sm-2" style="min-width: 7rem;">Items per page:</div>
            <select id="pageSizeSelect" class="form-select">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>
        <div class="d-none d-sm-block me-sm-2">
            Showing @((Model.CurrentPage - 1) * Model.PageSize + 1)-@(Math.Min(Model.CurrentPage * Model.PageSize,
            Model.TotalItems)) of @Model.TotalItems
        </div>
        <div>
            <button id="prevPageBtn" class="me-2" @(Model.CurrentPage == 1 ? "disabled" : "")>
                <i class="bi bi-chevron-left"></i>
            </button>
            <button id="nextPageBtn" @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")>
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="d-block d-sm-none">
        Showing @((Model.CurrentPage - 1) * Model.PageSize + 1)-@(Math.Min(Model.CurrentPage * Model.PageSize,
                Model.TotalItems)) of @Model.TotalItems
    </div>
</div>

@if (!string.IsNullOrEmpty(ItemExist))
{
<script>
    toastr.error('@ItemExist');
</script>
}
@if (!string.IsNullOrEmpty(ItemEdit))
{
    <script>
        toastr.success('@ItemEdit');
    </script>
}
@if (!string.IsNullOrEmpty(deleteItem))
{
    <script>
        toastr.success('@deleteItem');
    </script>
}

<script>
    document.getElementById('selectAllCheckbox').addEventListener('change', function () {
        let checkboxes = document.querySelectorAll('.checkboxes');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = this.checked;
        }, this);
    });

    </script>

    <script>
    const currentState = {
        categoryId: @Html.Raw(Model.CategoryId.HasValue ? Model.CategoryId.Value.ToString() : "null"),
        searchTerm: "@Html.Raw(Model.SearchTerm ?? "")",
        currentPage: @Model.CurrentPage,
        pageSize: @Model.PageSize
    };
</script>

