@model pizzashop.Models.ViewModels.ItemViewModel

<!-- Add edit item modal start -->
<div class="modal fade" id="editItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: #727b83;">Add New Menu Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="EditItemModalForm" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" value="@Model.Id">
                <div class="modal-body p-0 p-md-2">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="row row-cols-1 row-cols-lg-2 g-2 mb-2">
                                    <div class="col">
                                        <div class="form-floating">
                                            <select asp-for="CategoryId" class="form-select" id="category">

                                                @{
                                                    foreach (var category in ViewBag.category as List<Category>)
                                                    {
                                                        <option value="@category.Id">@category.Category1</option>
                                                    }
                                                }

                                            </select>
                                             <span asp-validation-for="CategoryId" class="text-danger"></span>
                                            <label for="category">Categories*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" asp-for="Name" class="form-control" id="name" value="@Model.Name"
                                                placeholder="Name">
                                                 <span asp-validation-for="Name" class="text-danger"></span>
                                            <label for="name">Name*</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 mb-2">
                                    <div class="col">
                                        <div class="form-floating">
                                            <select asp-for="ItemType" class="form-select" id="type">
                                              
                                                <option value="1">Veg</option>
                                                <option value="2">Non-veg</option>
                                                <option value="3">Vegan</option>
                                            </select>
                                             <span asp-validation-for="ItemType" class="text-danger"></span>
                                            <label for="type">Item Type*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" asp-for="Rate" class="form-control" id="rate" value="@Model.Rate"
                                                placeholder="Rate">
                                                 <span asp-validation-for="Rate" class="text-danger"></span>
                                            <label for="rate">Rate*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" asp-for="Quantity" class="form-control" id="quantity" value="@Model.Quantity"
                                                placeholder="Quantity">
                                                 <span asp-validation-for="Quantity" class="text-danger"></span>
                                            <label for="quantity">Quantity*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <select asp-for="UnitId" class="form-select" id="unit">
                                                @{
                                                    foreach (var unit in ViewBag.unit as List<Unit>)
                                                    {
                                                        <option value="@unit.Id">@unit.Name</option>
                                                    }
                                                }
                                                
                                            </select>
                                             <span asp-validation-for="UnitId" class="text-danger"></span>
                                            <label for="unit">Unit*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center h-100">
                                            <div class="form-check form-switch toggleSwitch me-2">
                                                <input asp-for="Available" class="form-check-input border-0" 
                                                    style="padding: 1rem 1.8rem;" type="checkbox" role="switch" 
                                                    id="flexSwitchCheckChecked">
                                            </div>
                                            Available
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center h-100">
                                            <div class="form-check form-switch toggleSwitch me-2">
                                                <input asp-for="DefaultTax" class="form-check-input border-0" 
                                                    style="padding: 1rem 1.8rem;" type="checkbox" role="switch"
                                                    id="flexSwitchCheckChecked">
                                            </div>
                                            DefaultTax
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input asp-for="Taxpercentage" type="text" class="form-control" id="tax" value="@Model.Taxpercentage"
                                                placeholder="Tax Percentage">
                                                 <span asp-validation-for="Taxpercentage" class="text-danger"></span>
                                            <label for="tax">Tax Percentage</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" asp-for="ShortCode" class="form-control" id="shortCode" value="@Model.ShortCode"
                                                placeholder="Short Code" >
                                                 <span asp-validation-for="ShortCode" class="text-danger"></span>
                                            <label for="shortCode">Short Code</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 g-2">
                                    <div class="col">
                                        <div class="form-floating">
                                            <textarea asp-for="Description" class="form-control" value="@Model.Description"
                                                placeholder="Description" id="description"
                                                style="height: 100px"></textarea>
                                                 <span asp-validation-for="Description" class="text-danger"></span>
                                            <label for="description">Description</label>
                                        </div>
                                    </div>

    <!-- Item Image Upload Section -->
                                    <div
                                        style="margin-top: 10px;border: 1px dotted black; width: 97%;height: 90px;margin-left: 0.8%;display: flex;justify-content: center;align-items: center;">
                                        <div>
                                            <div style="text-align: center;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-cloud-arrow-up"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                                    <path
                                                        d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                                </svg>
                                            </div>
                                            <div style="text-align: center; margin-top: 5px;">
                                                <input asp-for="MyImage" type="file" id="MyImage" multiple="multiple" class="multi"
                                                    accept=".jpg,.jpeg" class="form-control" style="display: none;">
                                                <span asp-validation-for="MyImage" class="text-danger"></span>
                                                <label for="MyImage" class="btn btn-outline-primary"
                                                    style="cursor: pointer;">Browse
                                                    Files (JPG only)</label>
                                                <p id="selectedFileName" style="margin-top: 5px; font-size: 0.8rem;">
                                                </p>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Image preview -->
                                    <div id="imagePreview" style="margin-top: 10px; text-align: center; display: none;">
                                        <img id="previewImg" src="#" alt="Preview"
                                            style="max-width: 150px; max-height: 150px; border-radius: 5px;" />
                                    </div>
                                    <!--over-->
                                </div>
                            </div>
                            @* <div class="cols-12 col-lg-4 mt-2 mt-lg-0">
                                <div class="border-1 rounded-2 w-100 h-100 p-3" style="background-color: #fdf6e8;">
                                    <select class="form-select" id="category">
                                        <option selected>Select Modifier Group(s)</option>
                                        <option value="1">s1</option>
                                        <option value="2">s3</option>
                                    </select>
                                </div>
                            </div> *@
                        </div>
                    </div>

                </div>

                <div class="modal-footer border-top-0 d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary" type="submit">Save</button>
                     @* <button type="submit" class="btn btn-primary" id="editsavebtn">Save</button> *@
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add edit item modal end -->

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script src="/path/to/plugin/jquery.MultiFile.min.js"></script>

<script>

     // Image preview script
    document.getElementById('MyImage').addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            // Show file name
            document.getElementById('selectedFileName').textContent = file.name;

            // Validate file type client-side
            const fileType = file.type.toLowerCase();
            if (fileType !== 'image/jpeg' && fileType !== 'image/jpg') {
                document.getElementById('selectedFileName').textContent = 'Invalid file type. Only JPG files are allowed.';
                document.getElementById('selectedFileName').style.color = 'red';
                this.value = ''; // Clear the file input
                document.getElementById('imagePreview').style.display = 'none';
                return;
            }

            // Preview image
            const reader = new FileReader();
            reader.onload = function (e) {
                const previewImg = document.getElementById('previewImg');
                previewImg.src = e.target.result;
                document.getElementById('imagePreview').style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else {
            document.getElementById('selectedFileName').textContent = 'No file selected';
            document.getElementById('imagePreview').style.display = 'none';
        }
    });

 $('#EditItemModalForm').on('submit', function (e) {

     e.preventDefault();
     var isvalid = $('#EditItemModalForm').valid();
     if(isvalid){
     var form = $(this);
     var url = form.attr('action');
     var data = form.serialize();

     console.log(data);

     $.ajax({
         type: "POST",
         url: "@(Url.Action("edititem", "Category"))",
         data: data,
         success: function (data) {
            loadMenuItems2(@Model.CategoryId);
           $('#editItemModal').modal('hide');
        
             @* location.reload(); *@
         }
     });
     }
         
 });


</script>