@model pizzashop.Models.ViewModels.CategoryViewModel

<div id="menu" class="container-fluid">

    <div class="fs-2 fw-semibold mb-3" style="color: #006CAC;">Menu</div>

    <!-- menuNavbar -->
    <div class="menubar mb-2 mb-sm-3 rounded-1 bg-white">
        <ul class="nav">
            <li class="active">
                <a class="nav-link">
                    <i class="bi bi-list-check me-2"></i>
                    Items
                </a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Modifiers","Modifiers")">
                    <i class="bi bi-ui-checks-grid me-2"></i>
                    Modifiers
                </a>
            </li>
        </ul>
    </div>

    <div class="d-flex">


        <!-- Categories Section -->
        <div class="offcanvas-lg start-0" data-bs-scroll="true" tabindex="-1" id="offcanvascategory">
            <div class="bg-light min-vh-100" style="width: 260px;display:flex;flex-direction: column;">
                <div class="justify-content-between w-100 p-3" style="display: flex;align-items: center;">
                    <div class="fs-4 fw-semibold" style="color: #006CAC;">Category</div>
                    <button class="customBtnSecondary fs-4 py-0 px-2" onclick="AddCategoryModalShow()"><i
                            class="bi bi-plus-lg"></i></button>
                </div>

                <div id="categoryListContainer"></div>

            </div>
        </div>




        <!-- Menu Items -->
        <div class="bg-white container-fluid py-3 px-3">
            <div style="display: flex; align-items:center;">
                <button class="d-lg-none fs-4 me-2 menubtn" style="color: #006CAC;" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvascategory" aria-controls="offcanvascategory">
                    <i class="bi bi-list-ul"></i>
                </button>
                <div class="fs-4 fw-semibold" style="color: #006CAC;">Items</div>
            </div>
            <div class="mb-2 mb-sm-3" style="display: flex; justify-content: end; align-items: center;">
                <div class="d-flex">
                    <form style="position: relative;margin-right: 10px;">
                        <input type="search" id="searchInput" placeholder="  Search" aria-label="Search"
                            class="form-control" style="width: 200px;height: 52px;margin-right: 2px; border: 2px solid #eee;
                                border-radius: 4px;">

                        <i class="bi bi-search" style="position: absolute;right: 10px;top: 15px;"></i>
                    </form>
                    <button class="customBtnSecondary px-md-3 me-3 fs-4" data-bs-toggle="modal"
                        data-bs-target="#MassDataDeleteModal"><i class=" bi bi-trash"></i></button>
                    <button class="customBtnPrimary px-3 p-md-3" id="loadModalBtn"><i
                            class="bi bi-plus-lg me-0 me-sm-2"></i><span class="d-none d-sm-block">New
                            Item</span></button>
                </div>

            </div>
            <div class="d-block d-sm-none mb-3">
                <form class="searchBar">
                    <input class="form-control" type="text" placeholder="Search">
                    <i class="searchIcon bi bi-search z-3"></i>
                </form>
            </div>

            <div class="">
                <div id="menuItemsContainer">
                    <!-- The table will be loaded here -->
                </div>

                <div class="customPagination d-flex flex-column align-items-center mt-1">
                    <div class="d-flex align-items-center w-100 justify-content-end mb-2">
                        <div class="d-flex align-items-center me-auto me-sm-3">
                            <div class="me-sm-2" style="min-width: 7rem;">Items per page:</div>
                            <select class="form-select">
                                <option value="5" selected>5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                            </select>
                        </div>
                        <div class="d-none d-sm-block me-sm-2">Showing 1-5 of 13</div>
                        <div>
                            <button id="prePageBtn" class="me-2">
                                <i class="bi bi-chevron-left"></i>
                            </button>
                            <button id="nextPageBtn">
                                <i class="bi bi-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="d-block d-sm-none">Showing 1-5 of 13</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modalContainer"></div>

<!-- Modal for Confirmation -->
<div class="modal fade" id="MassDataDeleteModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true"
    style="margin-top: 13%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <div style="color: #ffc409;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                        class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                </div>
                <div>
                    <p>Are you sure you want to delete the selected items?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="MassDelete()"
                    data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}



@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            // Load the categories on page load
            loadCategories();

            function loadCategories() {
                $.ajax({
                    url: '@Url.Action("GetCategories", "Category")', // Use the correct controller and action name
                    type: 'GET',
                    success: function (response) {
                        $('#categoryListContainer').html(response); // Inject the partial view into the container
                    },
                    error: function () {
                        alert('Error loading categories');
                    }
                });
            }
        });
    </script>

    <script>
        $(document).ready(function () {

            // 'Add New Item' button
            $('#loadModalBtn').on('click', function () {
                $.ajax({
                    url: '@Url.Action("AddItemModal", "Category")',
                    type: 'GET',
                    success: function (response) {
                        // partial view 
                        $('#modalContainer').html(response);

                        //show the modal after loading
                        $('#addItemModal').modal('show');
                    },
                    error: function () {
                        alert("An error occurred while loading the modal.");
                    }
                });
            });
        });
    </script>


    <script>

        //'Edit' button
        function edititem(id) {


            $.ajax({
                url: '@Url.Action("EditItemModal", "Category")',
                type: 'GET',
                data: { id: id },
                success: function (response) {
                    // partial view 
                    $('#modalContainer').html(response);

                    // Show the modal after loading
                    $('#editItemModal').modal('show');




                },
                error: function () {
                    alert("An error occurred while loading the modal.");
                }
            });
        }


    </script>


    <script>
        function deletemodel(id) {
            $.ajax({
                url: '@Url.Action("deleteitemmodel", "Category")',
                type: 'GET',
                data: { id: id },
                success: function (response) {
                    //partial view into the modalContainer
                    $('#modalContainer').html(response);

                    // Show the modal after loading
                    $('#deleteitem').modal('show');
                },
                error: function () {
                    alert("An error occurred while loading the modal.");
                }
            });
        }
    </script>

    <script>


        function EditCategoryModal(id) {
            $.ajax({
                url: '@Url.Action("EditCategoryModal", "Category")',  // Call the action in the Category controller
                type: 'GET',
                data: { id: id },  // Pass the itemId as part of the GET request
                success: function (response) {
                    // Insert the partial view into the modalContainer
                    $('#modalContainer').html(response);

                    // Show the modal after loading
                    $('#editCategoryModal').modal('show');
                },
                error: function () {
                    alert("An error occurred while loading the modal.123");
                }
            });
        }
    </script>

    <script>
        function DeleteCategory(id) {
            $.ajax({
                url: "/Category/DeleteCategoryModel",
                type: 'GET',
                data: { id: id },
                success: function (response) {
                    //partial view into the modalContainer
                    $('#modalContainer').html(response);

                    // Show the modal after loading
                    $('#DeleteCategoryModel').modal('show');
                },
                error: function () {
                    alert("An error occurred while loading the modal.");
                }
            });
        }

    </script>

    <script>
        function AddCategoryModalShow() {
            $.ajax({
                url: "/Category/ShowAddCategoryModal",
                type: 'GET',
                success: function (response) {
                    //partial view into the modalContainer
                    $('#modalContainer').html(response);

                    // Show the modal after loading
                    $('#addCategoryModal').modal('show');
                },
                error: function () {
                    alert("An error occurred while loading the modal.");
                }
            });
        }
    </script>


    <script>
        function loadMenuItems2(categoryId) {
            console.log(categoryId);
            $.ajax({
                url: '@Url.Action("GetMenuItemsTable", "Category")',
                type: 'GET',
                data: { id: categoryId },
                success: function (result) {
                    $('#menuItemsContainer').html(result);

                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        } 
    </script>


    <script>

        function MassDelete() {
            var ids = getCheckedItemIds();
            ids.forEach(function (value) {
                console.log(value);
                deleteall(value);


            });

            function getCheckedItemIds() {
                var checkedIds = [];
                var checkboxes = document.querySelectorAll('.checkboxes:checked'); // Select checked checkboxes

                checkboxes.forEach(function (checkbox) {
                    var itemId = checkbox.getAttribute('data-id');
                    checkedIds.push(itemId); // Add the ID to the array
                });

                return checkedIds; // Return array of checked IDs
            }


            function deleteall(id) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("deleteitem", "Category"))",
                    data: { id: id },
                    success: function (data) {
                        var firstCategoryId = $('a[data-category-id]').first().data('category-id');
                        loadMenuItems2(firstCategoryId);
                        $('#MassDataDeleteModal').modal('hide');
                    }

                });
            }
        }
    </script>

}
