@model pizzashop.Models.ViewModels.MenuModifiersViewModel

<!-- Add new item modal start -->
<div class="modal fade" id="AddModifierModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: #727b83;">Add New Menu Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="AddModifierForm">
                <div class="modal-body p-0 p-md-2">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <div class="row row-cols-1 row-cols-lg-2 g-2 mb-2">
                                    <div class="col">
                                        <div class="form-floating">
                                            <select asp-for="ModifierGroupId" class="form-select" id="category">

                                                @{
                                                    foreach (var group in Model.modifiersGroups)
                                                    {
                                                        <option value="@group.Id">@group.Name</option>
                                                    }
                                                }

                                            </select>
                                            <span asp-validation-for="ModifierGroupId" class="text-danger"></span>
                                            <label for="category">ModifiersGroup*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" asp-for="Name" class="form-control" id="name"
                                                placeholder="Name">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                            <label for="name">Name*</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 mb-2">
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" asp-for="Rate" class="form-control" id="rate" value=""
                                                placeholder="Rate">
                                            <span asp-validation-for="Rate" class="text-danger"></span>
                                            <label for="rate">Rate*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <input type="text" asp-for="Quantity" class="form-control" id="quantity"
                                                value="" placeholder="Quantity">
                                            <span asp-validation-for="Quantity" class="text-danger"></span>
                                            <label for="quantity">Quantity*</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating">
                                            <select asp-for="UnitId" class="form-select" id="unit">
                                                @{
                                                    foreach (var unit in Model.units)
                                                    {
                                                        <option value="@unit.Id">@unit.Name</option>
                                                    }
                                                }

                                            </select>
                                            <span asp-validation-for="UnitId" class="text-danger"></span>
                                            <label for="unit">Unit*</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 g-2">
                                    <div class="col">
                                        <div class="form-floating">
                                            <textarea asp-for="Description" class="form-control"
                                                placeholder="Description" id="description"
                                                style="height: 100px"></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                            <label for="description">Description</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer border-top-0 d-flex justify-content-end align-items-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add new item modal end -->
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    $('#AddModifierForm').on('submit', function (e) {
        var isvalid = $('#AddModifierForm').valid();
        if (isvalid) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var data = form.serialize();

            $.ajax({
                type: "POST",
                url: '@(Url.Action("AddModifier", "Modifiers"))',
                data: data,
                success: function (data) {
                    loadModifiers();
                    $('#AddModifierModal').modal('hide');
                }
            });
        }
    });
</script>
