@model pizzashop.Models.ViewModels.ModifiersViewModel

<div class="mb-1 mt-3">
    <div class="modifier-container">
        @{
            foreach (var modifiers in Model.menuModifiers)
            {
                <div class="modifier" data-id="@modifiers.Id" data-name="@modifiers.Name">
                    @modifiers.Name
                    <span class="remove-modifier" data-id="@modifiers.Id" data-name="@modifiers.Name">&times;</span>
                </div>
            }
        }
    </div>
</div>

<style>
    .modifier {
        display: inline-block;
        background-color: #e9ecef;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 15px;
    }

    .remove-modifier {
        cursor: pointer;
        margin-left: 5px;
        font-weight: bold;
    }

    .remove-modifier:hover {
        color: red;
    }
</style>

<script>
    $(document).ready(function () {
        $(document).on('click', '.remove-modifier', function () {
            $(this).parent().remove();

            const modifierId = $(this).data('id');
            const modifierName = $(this).data('name');
            if (!window.modifiersToRemove) {
                window.modifiersToRemove = [];
            }
            @* window.seenModifierIds.delete(modifierId);
            window.seenModifierNames.delete(modifierName); *@
                window.modifiersToRemove.push(modifierId);


            window.seenModifierIds.delete(modifierId);
            window.seenModifierNames.delete(modifierName);


            @* window.existingModifierName.delete(modifierName); *@
                const index = window.existingModifierName.indexOf(modifierName);
            if (index > -1) {
                window.existingModifierName.splice(index, 1);
                window.existingModifierIds.splice(index, 1);
                @* window.seenModifierIds.splice(index, 1);
                window.seenModifierNames.splice(index, 1); *@
                    
            }


        });
    });
</script>