<ul class="categorys flex-column mb-auto w-100" style="overflow-y: scroll; max-height: 400px;">



    @{
        foreach (var modifiers in Model.modifiersGroups)
        {
            <li class="">
                <a href="javascript:void(0);" data-category-id="@modifiers.Id" class="nav-link d-flex me-auto">
                    @* <i class="bi bi-grid-1x2-fill" style="margin-right: 10px;"></i> *@
                    <i class="bi bi-grip-vertical" style="margin-right: 10px;"></i>
                    @modifiers.Name
                </a>
                <div class="categoryAction">
                    <div class="d-flex">
                        <button class="menubtn" data-bs-toggle="modal" data-bs-target="#editCategoryModal"
                            data-id="@modifiers.Id" data-category-name=" @modifiers.Name"
                            data-description="@modifiers.Description">
                            <i class="bi bi-pen"></i>
                        </button>

                        <button class="menubtn" onclick="EditModifierModal()">
                            <i class="bi bi-pen"></i>
                        </button>

                        <!-- Delete button with data-id attribute to pass CategoryId -->
                        <button class="menubtn" data-bs-toggle="modal" data-bs-target="#delete" data-id="@modifiers.Id">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </li>





        }
    }




</ul>






@* addModifier modal *@
<div class="modal fade" style="margin-top: 13%;" id="addModifiersModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Modifier Group</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <form asp-controller="Modifiers" asp-action="addModifier" method="post" class="form">
                        <div class="form-floating">
                            @* <input type="text" asp-for="Name" class="form-control" placeholder="Name" id="Name" *@
                            style="margin-bottom: 20px;">
                            <label for="Name">Name</label>
                            @* <span asp-validation-for="Name"></span> *@
                        </div>
                        <div class="form-floating">
                            @* <input type="text" asp-for="Description" class="form-control" id="Description" *@
                            placeholder="Description">
                            <label for="Description">Description</label>
                        </div>

                        <div style="padding-top: 20px;padding-bottom: 20px;margin-left: 5px;">
                            <a href="#" class="text-decoration-none">+ Add Existing Modifiers</a>
                        </div>
                        <div class="modal-footer">

                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>