@model pizzashop.Models.ViewModels.TaxViewModel
@{
    var TaxAdd = TempData["TaxAdd"] as string;
    var TaxIsDeleted = TempData["TaxIsDeleted"] as string;
    var TaxExist = TempData["TaxExist"] as string;
    var TaxEdit = TempData["TaxEdit"] as string;

}

<div style="overflow-x: auto; width: 100%;">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>IsEnabled</th>
                <th>Default</th>
                <th>Tax Value</th>
                <th>&nbsp;&nbsp;&nbsp; Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tax in Model.taxes)
            {
                <tr>
                    <td>@tax.Name
                    </td>
                    <td>
                        @if (tax.Type == 1)
                        {
                            <div>Percentage</div>
                        }
                        @if (tax.Type == 2)
                        {
                            <div>Flat Amount</div>
                        }
                    </td>
                    <td>
                        <div class="form-check form-switch toggleSwitch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                @(tax.IsEnable ? "checked" : "")>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-switch toggleSwitch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                @(tax.IsDefault ? "checked" : "")>
                        </div>
                    </td>
                    @* <td>@tax.TaxAmount</td> *@
                    <td>
                        @if (tax.Type == 1)
                        {
                            <div>@tax.TaxAmount%</div>
                        }
                        @if (tax.Type == 2)
                        {
                            <div>@tax.TaxAmount</div>
                        }
                    </td>
                    <td>
                        <div style="display: flex">
                            <button class="menubtn loadEditModalBtn" onclick="EditTaxModal(@tax.Id)"><i
                                    class="bi bi-pen"></i></button>
                            <button class="menubtn" onclick="DeleteTableModal(@tax.Id)"><i class="bi bi-trash"></i></button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (!string.IsNullOrEmpty(TaxAdd))
{
    <script>
        toastr.success('@TaxAdd');  // Show success message using Toastr
    </script>
}
@if (!string.IsNullOrEmpty(TaxIsDeleted))
{
    <script>
        toastr.success('@TaxIsDeleted');  // Show success message using Toastr
    </script>
}
@if (!string.IsNullOrEmpty(TaxExist))
{
    <script>
        toastr.error('@TaxExist');  // Show success message using Toastr
    </script>
}
@if (!string.IsNullOrEmpty(TaxEdit))
{
    <script>
        toastr.success('@TaxEdit');  // Show success message using Toastr
    </script>
}


<script>
    if (typeof currentStateTax === "undefined") {
        const currentStateTax = {
            searchTerm: "@Html.Raw(Model.SearchTerm ?? "")",
        };
    }
</script>